@font-face
{
    font-family: "dungeon";
    src: url(assets/CanterburyRegular-MVqn.ttf);
}

body
{
    background-color: #111111;
    color: #eeeeee;
    font-family: monospace;
    font-size: 16px;
}

h1, h2, h3
{
    margin: 0.5em auto;
    color: #ffffff;
}

h1
{
    font-family: "dungeon", serif;
    font-size: 4em;
    color: #f72929;
}

h2
{
    font-family: "dungeon", serif;
    font-size: 3em;
}

h3
{
    font-size: 2em;
    margin: 1em auto;
    margin-bottom: 0.3em;
}

.container
{
    position: relative;
    width: 100%;
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.container table
{
    margin: 0 auto;
    max-width: 80%;
}

.section
{
    margin: 1em 0;
    border: #555555 solid 0.1em;
    border-radius: 1em;
}

.section div
{
    padding: 1em;
}

.back-to-top
{
    color: #888888;
}

table th
{
    padding: 1em;
}

table td
{
    padding: 0.5em 1em;
}

table tr
{
    padding: 2em;
    border-bottom: #222222 solid 1px;
    border-collapse: collapse;
}

.table-title
{
    padding: 1em 1em;
    background-color: rgba(255, 255, 255, 0.05);
}

ul
{
    padding: 0 2em;
}

li
{
    list-style: none;
    margin-bottom: 1em;
}

ul.navigation
{
    padding: 0;
}

ul.navigation li
{
    padding: 0;
    display: inline-block;
    margin: 0 0.5em 5%;
    font-weight: bold;
}

ul.navigation a
{
    text-decoration: underline;
}

a
{
    text-decoration: none;
    color: inherit;
}

a:hover
{
    text-decoration: underline;
}

a:visited
{
    color: inherit;
}

.note
{
    font-style: italic;
    font-size: 0.8em;
    color: #bbbbbb;
    margin-top: 0;
}
